<<<<<<< HEAD
/*---------SIDEBAR---------*/
.sidebar {
  width: 350px;
  background-color: #2d4a78; /* cor da barra lateral */
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

.sidebar .titulo{
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}
.sidebar .logo{
  display: flex;
  align-items: center;
  padding: 5px;

}




=======
>>>>>>> origin/roni-branch
.acessoADM{
  display: flex;
  justify-content: center;
  align-items: center;
}

.acessoPERITO{
  display: flex;
  justify-content: center;
  align-items: center;
}

.acessoADM p{
<<<<<<< HEAD
  display: inline-block;
    padding: 10px 30px;
    background-color: #E68B35;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
=======
  width: 150px;
  height: 20px;
  background-color: #0071ac;
  border-radius: 10px;
  color: #fff;
>>>>>>> origin/roni-branch

}


.acessoPERITO p{
<<<<<<< HEAD
    display: inline-block;
    padding: 10px 30px;
    background-color: #2D4A78;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
=======
  width: 150px;
  height: 20px;
  background-color: #a19a25;
  border-radius: 10px;
  color: #fff;

}
>>>>>>> origin/roni-branch
