/* :root {
  --background: #f4f4f4
   #2d4a78;
  --corBotoes: #31a248; */


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/*---------SIDEBAR---------*/
.sidebar {
  width: 220px;
  background-color: #2d4a78; /* cor da barra lateral */
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.navi{
  display: flex;
  flex-direction: column;
  
}

.navi a{
  margin: 20px 0;
  font-size: 15px;
  cursor: pointer;
  padding: 8px;
  transition: all 0.5s;
}

.navi a:hover{
  background-color: #f4f4f4;
  color: #2d4a78;
  border-radius: 5px;
  transform: scale(1.02);
  transition: all 0.5s;
  text-decoration: none;
}

.sidebar .config{
  margin: 20px 0;
  font-size: 15px;
  cursor: pointer;
  padding: 8px;
  transition: all 0.5s;
}


.sidebar .config:hover{
  background-color: #f4f4f4;
  color: #2d4a78;
  border-radius: 5px;
  transform: scale(1.02);
  transition: all 0.5s;
  text-decoration: none;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}


/*---------SIDEBAR---------*/


/*---------MAIN---------------------*/
.main {
  flex-grow: 1;
  padding: 30px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

/*---------HEADER------------*/
.header {
  display: flex;
  justify-content: space-around;
  ;
  align-items: center;
  border-radius: 10px;
  background-color: #2d4a78;
  height: 60px;
  margin: 0;
  padding: 10px;
  color: #fff;
}

.header .logoApp{
  font-size: 20px;
  cursor: pointer;
}
.header .user{
  font-size: 20px;
  cursor: pointer;
}

.header .pesquisa{
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 300px;
  padding: 5px;
}
/*---------HEADER-----------*/


/*---------BUSCA POR HORA------*/
.searchSection {
  margin-bottom: 30px;

}

.searchSection label{
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
  margin: 0 10px;
}

.searchSection input[type="date"]{
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

.searchSection .botaoPesquisar{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #31a248;
  color: #fff;
  cursor: pointer;
}


.conteudo .botaoPesquisar{
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #31a248;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.5s;
}

.botaoPesquisar:hover{
  background-color: #268038;
  transition: all 0.5s;
}

/*---------SIDEBAR---------*/
.searchInputs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.searchInputs input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchInputs button {
  padding: 8px 12px;
  background-color: #2d4a78;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*---------TABELA------------*/

.section{
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
}
.section table{
  background-color: #fff;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: auto;
}

.section .botaoExame{
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #31a248;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}


.section .botaoExame:hover{
  background-color: #268038;
  transition: all 0.5s;
}

.section table .acoes{
  cursor: pointer;
}
